   body { 
    font-family: Arial; padding: 20px; 
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
    h2 { 
      color: #2ea443; 
    }
    .menu {
      background: whitesmoke;
      padding: 20px;
      border-radius: 10px;
      max-width: 500px;
      margin: auto;
      box-shadow: 0 0 10px rgba(243, 239, 239, 0.1);
    }
    .menu a {
      display: block;
      background: #2ea443;
      color: whitesmoke;
      padding: 12px;
      text-decoration: none;
      border-radius: 5px;
      margin-bottom: 10px;
      text-align: center;
    }
    .logout {
      background: red;
    }